
h1{
    font-size: 36px;
    line-height: 36px;
}

p{
    font-size: 24px;
    line-height: 32px;
}



.center{
    font-family: 'Roboto', sans-serif;
    position:absolute;
    min-height: 200px;
    width: 700px;
    margin-bottom: 8%;
    margin-left:30%;
    margin-top:-8%;
    padding: 5px;

}



.btn-group button {
    background-color: #65a578;
    border: 1px solid black;
    color: black; 
    padding: 10px 24px; 
    cursor: pointer;
    width: 20%;
    display: block;      
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
      

.btn-group button:hover {
    background-color: #4da066;
}

img{
    width: 500px;
    padding: 25px;
}

.tip{
    position:absolute;
    background: #def6ed; 
    padding: 25px;
    border: 1px solid black;
}

ul li{
    padding: 10px;
}

ol li{
    padding: 20px;
}
