
h1{
    font-size: 36px;
    line-height: 36px;
}

p{
    font-size: 24px;
    line-height: 32px;
}

h2{
    font-size: 32px;
    line-height: 32px;
}

h3{
    font-size: 32px;
    line-height: 32px;
}

h4{
    font-size: 32px;
    line-height: 32px;
}

body{
    font-family: 'Roboto', sans-serif;

}

.center{
    width: 40%;
    margin: -100px auto;

}

.btn-group button {
    background-color: #65a578;
    border: 1px solid black;
    color: black; 
    padding: 10px 24px; 
    cursor: pointer;
    width: 20%;
    display: block;      
}
      

.btn-group button:hover {
    background-color: #4da066;
}

img{
    width: 500px;
    padding: 25px;
}

.tip{
    position:absolute;
    background: #def6ed; 
    padding: 25px;
    border: 1px solid black;
}

ul li{
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
}

ol li{
    font-size: 20px;
    line-height: 26px;
    padding: 20px;
}
