.center{
    position:absolute;
    min-height: 200px;
    width: 500px;
    left:35%;
    padding: 5px;
}

.btn-group button {
    background-color: #65a578;
    border: 1px solid black;
    color: black; 
    padding: 10px 24px; 
    cursor: pointer;
    width: 20%;
    display: block;        
}
      

.btn-group button:hover {
    background-color: #4da066;
}